.intro {
  margin: 0;
  padding: 0;
}

.intro__title {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: @basic_white;
}

.intro-list {
  display: flex;
  justify-content: center;
}

.intro__blockquote {
  margin: 0;
  padding: 0 50px;
}

.review {
  color: @basic_white;
}

.review__text {
  font-weight: 300;
}

.review__author {
  font-style: normal;
  font-weight: 700;
}

.intro__instruction-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.instruction-list {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: @basic_blue;
}

.instruction-list__item {
  padding: 0 25px;
}

.instruction-list__item:first-child {
  background-color: @special_orange;
}

.instruction-list__item:nth-child(2) {
  background-color: @basic_orange;
}

.instruction-list__item:nth-child(3) {
  background-color: @special_yellow_dark;
}
.instruction-list__item:last-child {
  background-color: @basic_yellow;
}

.instruction-list__number {
  color: @basic_white;
 }
