.main-nav {
  background-color: @basic_white;
}

.main-nav__list {
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}

.site-list {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  color: @basic_blue;
}

.user-list {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.social-list {
  display: flex;
  justify-content: center;
}
