.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 28px 25px;
}

.main-nav__popup {
  // display: none;
  background-color: @basic_white;
}

.main-nav__list {
  padding: 0 25px;
  text-transform: uppercase;
  text-align: center;
}

.site-list {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  color: @basic_blue;
}

.user-list {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

.social-list {
  display: flex;
  justify-content: center;
}
