.travelers {
  margin: 0;
  padding: 0 25px;
  color: @basic_white;
}

.travelers__wrapper {
  padding: 0 25px;
}

.travelers__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.travelers__item {
  background-color: @basic_white;
}

.travelers__text {
  margin-bottom: 25px;
  font-weight: 300;
}

.travelers__appeal {
  margin-bottom: 54px;
  font-weight: 700;
}

.travelers__flags {
  display: flex;
  justify-content: center;
}

.flags__item {
  padding-right: 20px;
}

.link-profile {
  display: flex;
  justify-content: center;
}

.link-profile__name {
  font-weight: 700;
  color: @basic_blue;
}

.item-box__hashtag {
  text-align: center;
  line-height: 18px;
  color: @special_grey;
}

.item-box__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
